name: 'Terraform GCP Deploy'
on:
  push:
    branches: [ "main" ]
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        # ENSURE THIS NAME MATCHES YOUR GITHUB SETTINGS EXACTLY
        credentials_json: '${{ secrets.GCP_SA_KEY }}'
    - uses: hashicorp/setup-terraform@v3
    - run: terraform init
    - run: terraform plan
    - run: terraform apply -auto-approve
      if: github.ref == 'refs/heads/main'
